In [1]:
# Import packages

import pandas as pd

In [2]:
# Load dataset

df= pd.read_csv('fifa18_clean.csv')

df.head()

,Wage (€),Value (€),Name,Age,Nationality,Overall,Potential,Club,Special,Acceleration,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,565000,95500000,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,2228,89.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,565000,105000000,L. Messi,30,Argentina,93,93,FC Barcelona,2154,92.0,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,280000,123000000,Neymar,25,Brazil,92,94,Paris Saint-Germain,2100,94.0,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,510000,97000000,L. Suárez,30,Uruguay,92,92,FC Barcelona,2291,88.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,230000,61000000,M. Neuer,31,Germany,92,92,FC Bayern Munich,1493,58.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Display countries that have at least 30 players in the dataset. Save them into a new dataframe (df2):

country_counts = df['Nationality'].value_counts()

countries_with_50_players = country_counts[country_counts >= 50].index

df2 = df[df['Nationality'].isin(countries_with_50_players)]

df2

,Wage (€),Value (€),Name,Age,Nationality,Overall,Potential,Club,Special,Acceleration,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,565000,95500000,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,2228,89.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,565000,105000000,L. Messi,30,Argentina,93,93,FC Barcelona,2154,92.0,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,280000,123000000,Neymar,25,Brazil,92,94,Paris Saint-Germain,2100,94.0,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,510000,97000000,L. Suárez,30,Uruguay,92,92,FC Barcelona,2291,88.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,230000,61000000,M. Neuer,31,Germany,92,92,FC Bayern Munich,1493,58.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17924,1000,50000,A. Kelsey,17,England,46,63,Scunthorpe United,755,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17925,1000,0,B. Richardson,47,England,46,46,Wycombe Wanderers,832,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17926,1000,60000,J. Young,17,Scotland,46,61,Swindon Town,1194,66.0,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
17927,1000,60000,J. Lundstram,18,England,46,64,Crewe Alexandra,1302,57.0,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0
17928,1000,50000,L. Sackey,18,Ghana,46,64,Scunthorpe United,1031,48.0,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0

In [6]:
# Save only the best 30 players per country in a new dataframe ('top_50_players_per_country'):

top_50_players_per_country = (
    df2.sort_values(by='Overall', ascending=False)
              .groupby('Nationality')
              .head(50)
)

top_50_players_per_country

,Wage (€),Value (€),Name,Age,Nationality,Overall,Potential,Club,Special,Acceleration,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,565000,95500000,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,2228,89.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,565000,105000000,L. Messi,30,Argentina,93,93,FC Barcelona,2154,92.0,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,280000,123000000,Neymar,25,Brazil,92,94,Paris Saint-Germain,2100,94.0,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,510000,97000000,L. Suárez,30,Uruguay,92,92,FC Barcelona,2291,88.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,230000,61000000,M. Neuer,31,Germany,92,92,FC Bayern Munich,1493,58.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16284,1000,180000,S. Shome,19,Canada,57,69,Montreal Impact,1564,65.0,...,47.0,45.0,56.0,50.0,56.0,57.0,53.0,57.0,49.0,53.0
16072,2000,210000,A. Hlynsson,17,Iceland,57,72,Brøndby IF,1474,66.0,...,46.0,42.0,53.0,46.0,55.0,56.0,53.0,56.0,48.0,53.0
16544,1000,130000,Z. Messoudi,23,Canada,56,63,Odds BK,1513,67.0,...,49.0,46.0,53.0,50.0,54.0,56.0,51.0,55.0,51.0,51.0
16562,1000,130000,H. Gunnlaugsson,22,Iceland,56,64,Halmstads BK,1363,75.0,...,41.0,32.0,49.0,39.0,53.0,55.0,49.0,55.0,43.0,49.0
16822,1000,150000,T. Haraldsson,20,Iceland,55,65,Halmstads BK,1340,76.0,...,36.0,31.0,43.0,33.0,53.0,51.0,54.0,53.0,38.0,54.0

In [7]:
# Export the final dataframe into a csv file to work on it on Tableau:

top_50_players_per_country.to_csv('top_50_players_per_country.csv', index = False)